
.root{
   display: grid;
   grid-template-areas:
           ".       head   head ."
           "aside  main   main  main"
           "aside  main   main  main" ;
    background-color: var(--color-light);
    height: 100vh;
}

header {
    grid-area: head;
    grid-auto-columns: 1fr;
}

aside{
    grid-area: aside;
    padding-left: 1rem;
}

main {
    grid-area: main;
}